[Unit]
Description=moxxi
After=rsyslog.service
Requires=rsyslog.service
After=network.target
Requires=network.target

[Service]
User=moxxi
ExecStart=/usr/bin/moxxi

Restart=on-failure

[Install]
WantedBy=multi-user.target