[Unit]
Description=moxxi
After=rsyslog.service
Requires=rsyslog.service
After=network.target
Requires=network.target

[Service]
User=moxxi
ExecStart=/usr/local/bin/moxxi --subLength=8 \
	--domain=parentdomain.com \
	--confTempl=${HOME}/config.template \
	--resTempl=${HOME}/response.template \
	--confLoc=${HOME}/vhosts.d \
	--excludedDomain=moxxi.parentdomain.com \
	--fileHandler=/static/ \
	--fileDocroot=${HOME}/files/ \
	--formHandler=/submit/ \
	--jsonHandler=/json/

Restart=on-failure

[Install]
WantedBy=multi-user.target